@import '../../styles.css';

.emailField {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  margin-top: 8px;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 4px;
  margin-left: 19%;
}

.inputContainer {
  position: relative;
  width: 53%;
  margin-left: 19%;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 25px;
}
